streamlit
boto3>=1.34.72
PyPDF2
python-docx
beautifulsoup4
langchain
langchain-aws
langchain-community
faiss-cpu
numpy
pyyaml
python-dotenv
pinecone
langchain-pinecone
langchain-openai
langchain-ollama
langchain-huggingface
sentence-transformers
langchain-text-splitters
fastapi
uvicorn
PyJWT
bcrypt
python-multipart
httpx
