fastapi
uvicorn
PyJWT
bcrypt
python-multipart
httpx
boto3>=1.34.72
PyPDF2
python-docx
beautifulsoup4
langchain
langchain-community
langchain-text-splitters
langchain-pinecone
langchain-openai
langchain-aws
pinecone
numpy
pyyaml
python-dotenv
faiss-cpu
